version: "3.9"
services:
  nginx:
    image: nginx:1.27-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - web
      - admin

  web:
    build:
      context: ../../apps/web
      dockerfile: Dockerfile
    env_file:
      - ../../apps/web/.env.production
    ports:
      - "3000:3000"
    depends_on:
      - postgres

  admin:
    build:
      context: ../../apps/admin
      dockerfile: Dockerfile
    env_file:
      - ../../apps/admin/.env.production
    ports:
      - "3001:3001"
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: ecommerce
      POSTGRES_PASSWORD: change_me
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  pg_data:
